{%extends 'base.html' %}

{%block title%}Home{%endblock%}


{%block header%}
GLG Match Maker
{%endblock%}

{%block content%}
<div class="row">
    <div class="col-md-6">
        <div class="home-page-text">
        <p class="text-justify"><a href="https://glginsights.com/articles/glg-survey-most-c-suite-execs-expect-the-covid-19-recession-to-have-greater-short-term-less-long-term-impact-than-2008-recession/">GLG</a>'s business largely revolves around matching clients with topic experts so that they can meet by phone, video or in person.</p>
        <p class="text-justify">To do that a client submits a request describing the topic(s) they seek to gain expertise on and GLG in turn searches their database of 1 million experts for the right match so that the meeting can be scheduled in short order.</p>
        <p>Our web app uses natural language processing (NLP) to quickly retrieve the key infomation contained in each client request. These information can be further used by a recommendation model so that the matching process can be semi-automated.</p>
        <p>For an in-depth and technical look, we invite you to also visit our <a href="https://github.com/LaplaceCherub/glg-project">Github repository</a>.</p>
        <p>To test drive our web app, simply go to the <a href='/try'>Try it Out</a> tab and enter your own request for topic expertise.</p>
        
        </div>
        
    </div>
    <div class="col-md-6">
      <img src="../static/clustering_image.png" style="margin-left: 20px; margin-top: 28px;" alt="clustering example">
    </div>
  </div>
{%endblock%}




