{%extends 'base.html' %}

{%block title%}Team{%endblock%}

{%block header%}
Our Team
{%endblock%}

{%block content%}
<div class='mx-auto mt-5 col-md-10 mt-100'>
  <div class="row">
    <div class="card col-sm">
        <div class="card-body">
           <h2 class="card-title">Cody McCormack</h2>
           <h3 class="card-subtitle mb-2 text-muted title">Senior Product Analyst</h3>
          <div class="profile"> <img src="../static/cody_mccormack.png"> </div>
          <div class="profile-text">
            <p>Hey! I'm <a href="https://www.linkedin.com/in/codymccormack/">Cody McCormack</a>. I'm a data analyst and engineer, with experience in digital marketing, product, retail and finance.</p>
            <p>As a linguistics major, and rising math master's student at Johns Hopkins, I'm very interested in machine learning's applications to language data, and how ML models can be used to better parse the vast amount of text data available on
              the web. I plan to do my master's thesis on topological data analysis, and better understand how dimensionality impacts machine lerning algorithms.</p>
            <p>Outside of work, I enjoy hiking, running, reading, and spending time with my wife and dog in beautiful Ogden, Utah.
            </p>
          </div>
        </div>
    </div>
 

    <div class="card col-sm">
        <div class="card-body">
        <h2 class="card-title">Ying Hu</h2>
           <h3 class="card-subtitle mb-2 text-muted title">Researcher, Educator</h3>
          <div class="profile"> <img src="../static/ying_hu.png"> </div>
          <div class="profile-text">
            <p>Hello, my name is <a href="https://www.linkedin.com/in/ying-hu-math/">Ying Hu</a>. I'm a research mathematician in the area of geometric topology. I received my Ph.D. at Louisiana State University and spent three years in Canada as a research fellow at McGill University and Université du
              Québec à Montréal. Currently, I am an assistant professor at the University of Nebraska, Omaha. </p>
            <p>In addition to pure math research, I also work on applied projects with researchers in the engineering departments. I've recently developed a keen interest in machine learning and artificial intelligence, and I look forward to seeing
              what machines and humans together can achieve! </p>
            <p>
             I grew up in Chengdu, China, a beautiful city with lots of delicious food and adorable pandas :)
            </p>
          </div>
        </div>
    </div>
 


    <div class="card col-sm">
        <div class="card-body">
            <h2 class="card-title">Cris Fortes</h2>
            <h3 class="card-subtitle mb-2 text-muted title">Former Executive Director, Strategic Sourcing</h3>
          <div class="profile"> <img src="../static/cris_fortes.png"> </div>
          <div class="profile-text">
            <p>My name is <a href="https://www.linkedin.com/in/crisfortes/">Cris Fortes</a> and I'm focused on artificial intelligence, machine learning and deep learning that accelerate business transformation. I see that as a natural evolution of my career as a transformative, results-driven and
              people-developing leader in strategic sourcing & procurement (Amgen, J&J, WPP) and marketing, sales, product management and general management (J&J, Yahoo!, DIRECTV, Siemens).</p>
            <p>I've worked, lived and studied in the U.S., Europe and Latin America and speak Portuguese, Spanish and German.</p>
            <p>
         I call beautiful Southern California home.
            </p>
          </div>
        </div>
    </div>
  </div>
</div>

{%endblock%}
