{%extends 'base.html' %}
{%block title%}Try It Out{%endblock%}

{%block header%}
Enter Text to Get Matched!
{%endblock%}

{%block content%}

<form action="{{ url_for('try_out')}}" method="post">
  <div class="form-outline">
    <textarea class="form-control" id="textArea" rows="4" name="text" required></textarea>
    <button type="submit" class="btn btn-dark">Let's Connect You!</button>
  </div>
</form>


{% if requested %}
<div class="container">
    <div class="entered-text">
        <div class="entered-text-title">
            <h3>
                Your Text: 
            </h3>
        </div>
        
        <div class="entered-text-contents">
            <p>{{ original_sentence }}</p> 
        </div>
    </div>
    <br>
    <hr>
</div>


<div class="container model-output">
    <div class="row">
      <div class="col-md-3">
        <div class="model-title">
            <p id="ner">Named Entities Identified</p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="text_result" id="ner_output">
            <p>{{ ner_text }}</p>
        </div>
      </div>
    </div>
</div>

<div class="container model-output">
    <div class="row">
      <div class="col-md-3">
        <div class="model-title">
            <p id="lda">Possibly Related Topics</p>
        </div>
      </div>
      <div class="col-md-7">
        <div>
            <ul class="list-group">
                {% for topic_num, topic_per in topics %}
                <li class="list-group-item">
                  <p class="text_result"> {{ topic_per }} of Topic {{ topic_num + 1 }}: {{topics_dict[topic_num]}} </p>
                </li>
                {% endfor %}
            </ul>
        </div>
      </div>
    </div>
  </div>
  
<div class="container model-output">
    <div class="row">
      <div class="col-md-3">
        <div class="model-title">
            <p id="knn">Other Similar Requests</p>
        </div>
      </div>
      <div class="col-md-7">
        <div>
            <ul class="test_result list-group">
                {% for text in nearest_text %}
                <li class="list-group-item">
                  <p class="text_result"> {{ text }} </p>
                </li>
                {% endfor %}
              </ul>
        </div>
      </div>
    </div>
  </div>



  


</div>

{% endif %}

{%endblock%}
