
body {
    padding-bottom: 100px;
}


h1 {
    font-weight: 400;
}

/*home*/
.home-page-text {
    margin-left: 50px;
    margin-top: 30px;
}

.page-title {
    margin: 50px auto 20px 20px;
}

.page_header {
    padding-left: 15px;
}

.team_image {
    max-width: 360px;
    padding-bottom: 10px;
}

.team_page_name {
    font-size: 2em;
    font-weight: bold;
}

.form-outline {
    padding: 50px;
}



.btn {
    margin-top: 10px;
}

.team_bio {
    text-align: left;
}

.text_result {
    padding-left: 15px;
}

#home_text {
    padding: 15px;
}


#global_header {
    padding-left: 15px;
}


/*navbar dropdown-menu*/

.navbar {
    letter-spacing: .05rem;
    font-size: 1rem;
    font-weight: 400;
}

.navbar-nav li {
    padding-left: 1rem;
}

.nav-link:hover {
    color: #009DAE;
}

.nav-link:active {
    color: #009DAE;
}


#fb_logo {
    max-width: 50px;
    max-height: auto;
}

#glg_logo {
    max-width: 65px;
    max-height: auto;
}






